body {
    margin: 0;
    padding: 10px;
    display: block;
}

.float{
	display: block;
	vertical-align: center;
}

.float > address, .float > p{
	display: inline-block;
	margin: 30px;
}

address {
    background-color: #757575;
    border: solid black 2px;
    font-style: normal;
    
}

address strong {
    font-size: 125%;
}

main {
    font-family: 'Roboto Mono', monospace;
}

main h1,
main h2 {
    text-align: center;
    margin: 0;
}

main a{
	text-decoration: none;
}

main a:visited{
	color: green;
}

main ul{
	list-style-type: none;
}

main ol{
	list-style-type: upper-roman;
}

dd{
	/*font-size: 0%;*/
	display: none;
}

dt:hover + dd{
	/*font-size: 100%;*/
	display: block;
	color: red;
}